.card-image > img {
    max-height: 400px;
}

.card {
    min-height: 500px;
}

.bold {
    font-weight: bold;
}

blockquote{
    background-color: rgb(158,157,36, 0.5);
    border-color: #9e9d24;
}

p{
    text-align: justify;
}

iframe {
    border: none;
}