---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
    <section>
        <h4>Me contacter</h4>
        <p>
            Formulaire de contact
        </p>
    </section>
</BaseLayout>