---
import BaseLayout from "../layouts/BaseLayout.astro";
import SimpleCard from "@/components/SimpleCard.astro";
import { Button } from "@/components/ui/button";
import {
    Card,
    CardContent,
    CardDescription,
    CardFooter,
    CardHeader,
    CardTitle,
} from "@/components/ui/card"
---

<BaseLayout>
    <section class="presentation">
        <div class="profil-photo">
            <img src="/images/test.png" alt="test" />
        </div>

        <div class="personnal-infos">
            <h1>Alexis Gonçalves</h1>
            <h2>Développeur web full stack</h2>
            <h3>Clermont-Ferrand, Puy-de-Dôme</h3>
        </div>

        <div class="download">
            <a href="/files/goncalves_alexis_cv.pdf" target="_blank">
                <Button className="download-btn">
                    Télécharger mon CV
                </Button>
            </a>
        </div>
    </section>

    <section>
        <h4>Qui suis-je ?</h4>
		<p>
            Passionné par le développement web depuis plusieurs années, j'ai acquis des
            compétences solides en programmation. Ma polyvalence me permet de travailler
            aussi bien sur le front-end que le back-end, tout en veillant à l'optimisation des
            performances et à l'expérience utilisateur. Curieux et désireux d'approfondir
            constamment mes connaissances, je reste à l'affût des dernières tendances et
            nouveautés technologiques pour proposer des solutions innovantes et performantes.
		</p>
    </section>

    <section>
        <h4>Technologies</h4>
        <p>
            Au cours de mon apprentissage et de mon parcours professionnel, j'ai pu acquérir des compétences utiles à
            mon métier.
        </p>
        <article class="space">
            <SimpleCard title="Symfony">
                <div class="card-image">
                    <img src="/images/logos/symfony.svg" alt="symfony_logo" />
                </div>
            </SimpleCard>
            <SimpleCard title="Laravel">
                <div class="card-image">
                    <img src="/images/logos/laravel.svg" alt="laravel_logo" />
                </div>
            </SimpleCard>
            <SimpleCard title="Angular">
                <div class="card-image">
                    <img src="/images/logos/angular.svg" alt="angular_logo" />
                </div>
            </SimpleCard>
            <SimpleCard title="MySQL">
                <div class="card-image">
                    <img src="/images/logos/mysql.png" alt="mysql_logo" />
                </div>
            </SimpleCard>
            <SimpleCard title="Docker">
                <div class="card-image">
                    <img src="/images/logos/docker.svg" alt="docker_logo" />
                </div>
            </SimpleCard>
            <SimpleCard title="Git">
                <div class="card-image">
                    <img src="/images/logos/git.svg" alt="git_logo" />
                </div>
            </SimpleCard>
        </article>
    </section>

    <section>
        <h4>Mes passions</h4>
        <article class="space">
            <SimpleCard title="Gameur">
                <div class="card-image">
                    <img src="/images/logos/symfony.svg" alt="symfony_logo" />
                </div>
            </SimpleCard>
            <SimpleCard title="Sport">
                <div class="card-image">
                    <img src="/images/logos/symfony.svg" alt="symfony_logo" />
                </div>
            </SimpleCard>
            <SimpleCard title="Lecture">
                <div class="card-image">
                    <img src="/images/logos/symfony.svg" alt="symfony_logo" />
                </div>
            </SimpleCard>
            <SimpleCard title="Voyage">
                <div class="card-image">
                    <img src="/images/logos/symfony.svg" alt="symfony_logo" />
                </div>
            </SimpleCard>
        </article>
    </section>

    <section>
        <h4>Formations</h4>
        <article class="space">
            <div>
                <h5>Licence professionnelle développent web</h5>
                <p class="period">2019 - 2020</p>
                <p>IUT Clermont Auvergne</p>
            </div>
            <div>
                <h5>DUT Informatique</h5>
                <p class="period">2017-2019</p>
                <p>IUT Clermont Auvergne</p>
            </div>
            <div>
                <h5>Baccalauréat STI2D opiton SIN</h5>
                <p class="period">2017</p>
                <p>Lycée Pierre Joel Bonté, Riom</p>
            </div>
        </article>
    </section>
</BaseLayout>
