---
import "@/styles/globals.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import { Button } from "@/components/ui/button";
---

<BaseLayout>
    <section>
        <h4>Profil professionnel</h4>
		<p>
            Passionné par le développement web depuis plusieurs années, j'ai acquis des
            compétences solides en programmation. Ma polyvalence me permet de travailler
            aussi bien sur le front-end que le back-end, tout en veillant à l'optimisation des
            performances et à l'expérience utilisateur. Curieux et désireux d'approfondir
            constamment mes connaissances, je reste à l'affût des dernières tendances et
            nouveautés technologiques pour proposer des solutions innovantes et performantes.
		</p>
    </section>

    <section>
        <h4>Technologies</h4>
        <article class="space">
            <div>
                <h5>Symfony</h5>
                <img src="/images/logos/symfony_light.svg" alt="symfony_logo" />
                <p>Texte</p>
            </div>
            <div>
                <h5>Laravel</h5>
                <p>Texte</p>
            </div>
            <div>
                <h5>Angular</h5>
                <p>Texte</p>
            </div>
            <div>
                <h5>MySQL</h5>
                <p>Texte</p>
            </div>
            <div>
                <h5>Docker</h5>
                <p>Texte</p>
            </div>
            <div>
                <h5>Git</h5>
                <p>Texte</p>
            </div>
        </article>
    </section>

    <section>
        <article class="space">
            <div>
                <h4>Mes passions</h4>
                <p>Text</p>
            </div>
        </article>
    </section>

    <section>
        <h4>Formations</h4>
        <article class="space">
            <div>
                <h5>Licence professionnelle développent web</h5>
                <p class="period">2019 - 2020</p>
                <p>IUT Clermont Auvergne</p>
            </div>
            <div>
                <h5>DUT Informatique</h5>
                <p class="period">2017-2019</p>
                <p>IUT Clermont Auvergne</p>
            </div>
            <div>
                <h5>Baccalauréat STI2D opiton SIN</h5>
                <p class="period">2017</p>
                <p>Lycée Pierre Joel Bonté, Riom</p>
            </div>
        </article>
    </section>
</BaseLayout>
