body{
    
    /* background-image: url('../images/background.jpg');
    background-size: cover; */
    background-image: linear-gradient(to right top, #68dc63, #00d792, #00cfb6, #00c3cb, #46b6cf);
}

header{
    color: whitesmoke;
}

.myMargin{
    display: flex;
    justify-content: space-around;
}

.apple{
    transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    backdrop-filter: saturate(180%) blur(10px);
    background-color: rgba(0,0,0,0.3);
}

.apple2{
    transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    backdrop-filter: saturate(180%) blur(100px);
    background-color: rgba(255,255,255,0.2);
    border-radius: 10px;
}

img{
    border-radius: 10px;
}