html, body, pre, code, kbd, samp {
    font-family: "Press Start 2P";
}

h1{
    text-align: center;
}

section{
    margin-top: 20px;
    min-height: 170px;
}

.types > span{
    margin-right: 20px;
}

.normal{
    color: grey;
}

.fire{
    color: red;
}

.fighting{
    color: brown;
}

.water{
    color: blue;
}

.flying{
    color: #CC99FF;
}

.grass{
    color: green;
}

.poison{
    color: #573051;
}

.electric{
    color: yellow;
}

.ground{
    color: burlywood;
}

.psychic{
    color: #ED619C;
}

.rock{
    color: #A5682A;
}

.ice{
    color: cyan;
}

.bug{
    color: greenyellow;
}

.dragon{
    color: #682AA5;
}

.ghost{
    color: #533F67;
}

.dark{
    color: #342F29;
}

.steel{
    color: gray;
}

.fairy{
    color: pink;
}

.buttonsPage{
    margin: 10px 0px;
    display: flex;
    justify-content: space-around;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #212529; 
}