---
import '@/styles/components/header.css';
import {Button} from "../components/ui/button";
---

<header>
    <div class="profil-photo">
        <img src="/images/test.png" alt="test" />
    </div>

    <div class="personnal-infos">
        <h1>Alexis Gonçalves</h1>
        <h2>Développeur web full stack</h2>
        <h3>Clermont-Ferrand, Puy-de-Dôme</h3>
    </div>

    <div class="download">
        <a href="/files/goncalves_alexis_cv.pdf" target="_blank">
            <Button className="download-btn">
                Télécharger mon CV
            </Button>
        </a>
    </div>
</header>